.hide {
  display: none;
}

label.error {
  color: red;
}

div:where(.swal2-icon) .swal2-icon-content {
  font-size: 55px !important;
}

/* Success Toast */
.toast.success {
  background-color: #28a745;
  /* Green */
}

/* Error Toast */
.toast.error {
  background-color: #dc3545 !important;
  /* Red */
}

/* Warning Toast */
.toast.warning {
  background-color: #ffc107 !important;
  /* Yellow */
  color: black !important;
}

/* Info Toast */
.toast.info {
  background-color: #17a2b8 !important;
  /* Blue */
}

input:checked {
  border-color: #0d6efd !important;
  background-color: #0D6EFC !important;

}

/* .dropdown-submenu {
  position: relative !important;
}

.dropdown-submenu .dropdown-menu {
  top: 0 !important;
  left: 100% !important;
  margin-top: -1px !important;
} */



.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

/* Standard Status Badges */
.status-badge {
  display: inline-block;
  width: 100px;
  padding: 3px 8px;
  border-radius: 50rem;
  color: #ffffff !important;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  text-transform: capitalize;
}

/* Master Status */
.status-active {
  background-color: #4CAF50 !important;
}

.status-inactive {
  background-color: #9E9E9E !important;
}

.status-blocked {
  background-color: #F44336 !important;
}

.status-pending {
  background-color: #FFC107 !important;
}

.status-approved {
  background-color: #2196F3 !important;
}

.status-rejected {
  background-color: #D32F2F !important;
}

/* Order Status */
.status-order-placed {
  background-color: #2196F3 !important;
}

.status-confirmed {
  background-color: #009688 !important;
}

.status-processing {
  background-color: #3F51B5 !important;
}

.status-shipped {
  background-color: #FF9800 !important;
}

.status-out-for-delivery {
  background-color: #FFC107 !important;
}

.status-delivered {
  background-color: #4CAF50 !important;
}

.status-cancelled {
  background-color: #F44336 !important;
}

.status-returned {
  background-color: #795548 !important;
}

/* Payment Status */
.status-paid {
  background-color: #4CAF50 !important;
}

.status-unpaid {
  background-color: #F44336 !important;
}

.status-partial-paid {
  background-color: #9C27B0 !important;
}

.status-refunded {
  background-color: #2196F3 !important;
}

.status-failed {
  background-color: #D32F2F !important;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}